section.login {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(243, 156, 18, 0.8);
}

.erreur {
    font-weight: bold;
    color: rgb(160, 11, 11);
}

section.login>div {
    width: 450px;
    margin: auto;
    background: #eee;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

section.login form {
    display: flex;
    flex-direction: column;
}

form input[type="password"],
form input[type="text"],
form input[type="submit"] {
    margin-bottom: 32px;
    padding: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

form input[type="password"]:focus,
form input[type="text"]:focus,
form input[type="password"]:hover,
form input[type="text"]:hover {
    background-color: #ccc;
}

form input[type="submit"] {
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;
    background-color: #e67e22;
}

form input[type="submit"]:focus,
form input[type="submit"]:hover {
    background-color: #d35400;
}

a:hover,
h1 {
    color: #d35400;
}

select {
    background: ghostwhite;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    width: 450px;
    margin: auto;
    border-radius: 10px;
}

label {
    font-size: larger;
    font-family: cursive;
    color: #e67e22;
}

.produit {
    font-size: medium;
    font-family: fantasy;
    color: darkslategray;
}

.lien {
    font-size: medium;
    font-family: fantasy;
    color: darkslategray;
}
